.header {
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    background-color: #e88d71;
  }

.logoPic {
    border-radius: 10px;
}

.shopLinkWrapper{
  margin-left: auto;
  text-decoration: none;
}

.shopLinkWrapper a {
  color: black;
  font-family: fantasy;
  text-decoration: none;
}

.shopLinkWrapper a:hover {
  color:brown;
  text-decoration: none;
}