
.menutable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: "Roboto";
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 200px;
    float: left;
    letter-spacing: 1px;
  }