.header {
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  background-color: #ffffff;
  text-decoration: none;
}

.shop_link_wrapper {
  margin-top: 1rem;
  margin-left: auto;
  text-decoration: none;
}
