.search_bar_wrapper {
    margin: auto;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding-top: 2rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

.logo_center {
    display: flex;
    justify-content: center;
}

.logo {
    width: 250px;
}
